body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.contents {
    padding: 8px;
}

.wrap {
    min-height: calc(100vh - 16px);
    width: 100%;
}

#dark-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    opacity: 30%;
}

.log-contents {
    font-family: monospace;
    padding: 5px 0;
    border: 1px solid #073642;
    border-radius: 3px;
}

.log-contents .num {
    display: inline-block;
    width: 2em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    text-align: right;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.section-toggle {
    margin-left: 5px;
}

.section-toggle:checked + .section-label + .section-contents {
    max-height: 100%;
}

.section-contents {
    max-height: 0;
    white-space: pre;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

#auto-scroll-toggle {
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 30%;
}

/* Header */
.navbar {
    width: 100%;
    min-height: 30px;
    padding-top: 15px;
}

.navbar .title {
    float: left;
    font-size: 25px;
    font-family: monospace;
    line-height: 15px;
    margin-left: 15px;
}

.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar li {
    float: left;
    margin-left: 15px;
}
