<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	{{ if or (eq .Job.Status 0) (eq .Job.Status 1) }}
		<!-- refresh page after we're done loading -->
		<meta http-equiv="refresh" content="5">
    {{ end }}
    <title>microci{{if .Title}} - {{.Title}}{{end}}</title>
	<link rel="stylesheet" href="/css/ansi.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/solarized.css">
</head>
<body>
<input type="checkbox" id="dark-toggle" checked>
<div class="wrap">
	<div class="navbar">
		<div class="title">
			microci
		</div>
		<ul>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/jobs/active">Active jobs</a></li>
		</ul>
	</div>
	<div class="contents">
