{{template "header.html" . }}
<input type="checkbox" id="auto-scroll-toggle">
<script lang="js" src="/js/job.js"></script>
<h3>Job {{.Job.ID}}</h3>
<div>
	<div>Status:</div>
	<div>
        {{if eq .Job.Status 0}}<span class="pending">Pending</span>{{end}}
        {{if eq .Job.Status 1}}<span class="executing">Executing</span> <a href="{{.URL.Path}}/cancel">cancel</a>{{end}}
        {{if eq .Job.Status 2}}<span class="success">Success</span>{{end}}
        {{if eq .Job.Status 3}}<span class="error">Error</span>{{end}}
        {{if eq .Job.Status 4}}<span class="error">Cancelled</span>{{end}}
        {{if eq .Job.Status 5}}<span class="error">Timed out</span>{{end}}
	</div>
	<div>
		{{.Job.StatusDescription}}
	</div>
    {{if len .Artifacts}}
    <div>Artifacts:</div>
        {{$id := .Job.ID}}
        <ul>
            {{range $i, $f := .Artifacts}}
                {{if not $f.IsDir}}
                    <li><a href="/job/{{$id}}/artifacts/{{$f.Name}}">{{$f.Name}}</a></li>
                {{end}}
            {{end}}
        </ul>
    {{end}}
</div>

<h4>Log</h4>
<div class="log-contents">
